.vscode
prac1/prac1a
prac1/prac1b
prac1/prac1c
prac2/prac2
prac2/prac2V2
prac3/laplace3d
prac3/laplace3d_new
prac4/reduction
prac4/reductionV2
prac5/simpleCUBLAS
prac5/simpleCUFFT
prac6/main.o
prac6/prac6
prac6/prac6.a
prac6/prac6.o
prac6/prac6a
prac6/prac6b
prac6/prac6c
